{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block content %}
<!DOCTYPE html>
<html>
    <h1 class="titles"> A team on the forefront of imagination</h1>
    <div class="containers row">
        <div class="col">
            <p> 100+ members 7 world titles 100M views on youtube </p>
        </div>
        <div class="col">
            <img class="aboutus-image" src="{{url_for('static', filename='elg_logo_transparent.jpeg')}}">
        </div>
</html>
{% endblock %}