

/* General Formatting */  

h1 {
    text-align: center;
    font-size: 325%;
    padding: 5px;
    padding-top: 35px;
    text-decoration: none;
    word-spacing: 100%;
    font-family: serif;
} 
 
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
} 

    /* Header */
.main-header {
    width: 100%;
    border: solid;
    background-color: white;
}

    /* The links under the header */  
.header-hyperlinks {
    text-align: center;
    color: black;
    font-size: 175%;
    padding: 0%;
    text-decoration: none;
    word-spacing: 100%;
    position: relative;
    top: -15px;
    font-family: serif !important;
}

.front-logo {
    height: 200x;
    width: 200x;
    margin: 20px;
    text-align: center;
}

.header-hyperlinks small {
    font-size: 100%;
}

.slideshow {
    height: 600px;
    display: block;
}

    /* Team Game Logos */  

.logos {
    height: 200px;
    width: 200px;
    background-color: blue;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

    /* Best Sellers */
    
.best-sellers button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* For debugging */
.containers {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-radius: 2px;
} 


/* Merch */ 
.extralife {
    align-self: center;
}

/* About us */ 

.aboutus-image {
    width: 50px;
    height: auto;
    align-self: center;
    margin: 0;
    top: 50%;
}

.team-logos {
    height: 175px;
    width: 175px;
    padding: 10px;
}

 /* Override Bootstrap container padding */
 body {
    padding: 0%;
    max-width: 1920px; 
	margin: 0 auto !important; 
	float: none !important; 
}
  
/* Center the larger central image */
.testicles {
    margin: auto;
    width: 75%;
}
  
.imageCenter {
    margin: auto;
    align-self: center;
    max-width: 500px;
}
  
      /* Set a maximum height for smaller images */
.small-logo {
    max-height: 100px; /* Adjust this value as needed */
}



